<!DOCTYPE html>

<html>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script>
  new_items = [];
  
  function add_list_element(id) {
      list = document.getElementById("list");
      item_node = document.createElement("li");
      item = (id == "p") ? document.getElementById(id).innerHTML : document.getElementById(id).value;
      item_node.innerHTML = item;
      list.appendChild(item_node);
      new_items.push(item);
  }
  </script>
  <style type="text/css">
    .centered{text-align:center}
    .centered ul{
    display:inline-block;
    text-align:left;
    }
    </style>
  <head>
    <title class="centered">Todo List</title>
  </head>
  <body>
    <div class="centered">
      <h1>263TODO List</h1>
    <ul id="list">
      {% for item in items %}
      <li>{{ item.text }}</li>
      {% endfor %}
    </ul>

    {% if type == "text_box" %}
    <h2>Textbox input</h2>
    <input type="text" id="text">
    <form action="{% url 'index' %}" method="POST">
      {% csrf_token %}
      <input type="button" value="add" onclick="add_list_element('text');">
      <input type="submit" value="save" id="save">
    </form>

    {% elif type == "text_area" %}
    <h2>Textarea input</h2>
    <textarea rows="4" cols="50" id="text_area"></textarea>
    <form action="{% url 'index' %}" method="POST">
      {% csrf_token %}
      <input type="button" value="add" onclick="add_list_element('text_area');">
      <input type="submit" value="save" id="save">
    </form>

    {% elif type == "content_editable" %}
    <h2>Contenteditable input</h2>
    <p contenteditable="true" id="p"></p>
    <form action="{% url 'index' %}" method="POST">
      {% csrf_token %}
      <input type="button" value="add" onclick="add_list_element('p');">
      <input type="submit" value="save" id="save">
    </form>

    {% else %}
    <h2>Onclick submit</h2>
    <input type="text" id="onclick"></p>
    <form action="{% url 'index' %}" method="POST">
      {% csrf_token %}
      <span>
        <p onclick="add_list_element('onclick');">add</p>
        <input type="submit" value="save" id="save">
      </span>
    </form>

    {% endif %}
    </div>
    </body>
</html>
  
